* {
    margin: 0;
    padding: 0;    
}
main {
    background-color: #FDD11E;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
}

main h1 {
    margin-top: 50px;
    color: #fff;
}

.shape {
    background-color: #FF555A;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 500px;
    clip-path: polygon(50% 76%, 65% 60%, 100% 60%, 100% 100%, 0 100%, 0 60%, 34% 60%);
}

.smiley {
    display: block;
    height: 80px;
    margin-top: 10px;
    transform: rotate(-90deg);
}

.smiley img {
    height: 100%;
}